@import url('https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro');

.navbar {
  border-color: #ffffff!important;
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

.navbar-inverse .navbar-toggle .icon-bar {
  border-color: #f2385a;
  background-color: #f2385a;
}

.jumbotron{
  position: relative;
  z-index:-101;
  overflow: hidden;
  vertical-align: middle;
}

#video-background { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width:100%;
}


video {
  display: block;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: transparent;
  border: 1px solid #fff;
}

.navbar {
  background-color: #ffffff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.containerp20 {
  padding-bottom: 15px;
}

.lead {
  width: 100%;
}

/* Content
*/

.yellow {
  background-color: #f5a503;
}

.gray {
 background-color: #333333;
}

.pink{
  background-color: #f2385a;
}

.blue{
  background-color: #2dc2d1;
}

.white{
  background-color: #ffffff;
}


/*
 * Affix and center
 */

@media (min-width: 320px) {

  .icon {
    text-align: center;
  }

  .logo {
    width: 40%;
  }

  h1.hero {
    font-size: 34px;
    font-family: 'Bitter'!important;
    margin-bottom: 20px;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

  h3.sub {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bitter'!important;
    margin-bottom: 20px;
    color:#f2385a; 
    text-align: center;
    padding: 10px;
  }

  p.lead {
    font-family: 'Source Sans Pro'!important;
    font-size: 18px;
    padding-top: 20px;
  }

  p.landing {
    font-family: 'Source Sans Pro'!important;
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
    color: #ffffff;
  }

  p.landingblack {
    font-family: 'Source Sans Pro'!important;
    font-size: 18px;
    line-height: 26px;
    color:#000000;
    vertical-align: middle!important;
    text-align: center;
    padding: 10px;
  }

  .jumbotron{
  position: relative;
  z-index:-101;
  overflow: hidden;
  }

}

@media (min-width: 768px) {
  
  .logo {
    width: 50%;
  }

  p.landingblack {
    vertical-align: middle!important;
    text-align: center;
  }

  h3.sub {
    text-align: center;
  }

  .jumbotron{
  position: relative;
  z-index:-101;
  overflow: hidden;
  height: 400px;
  }


}

@media (min-width: 992px) {

  .logo {
    width: 70%;
  }

  p.landingblack {
    vertical-align: middle!important;
    text-align: left;
  }

  h1.hero {
    font-size: 64px;
    line-height: 70px;
  }

  h3.sub {
    text-align: left;
  }

  .jumbotron{
  position: relative;
  z-index:-101;
  overflow: hidden;
  height: 450px;
  }

}
